@model BankingVault.Models.BankAccountCreationForm
@{
    ViewData["Title"] = "CreateAccount";
}

<h1>CreateAccount</h1>

<h4>BankAccountCreationForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnerID" class="control-label"></label>
                <input asp-for="OwnerID" class="form-control" disabled/>
                <span asp-validation-for="OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBalance" class="control-label"></label>
                <input asp-for="TotalBalance" class="form-control" disabled/>
                <span asp-validation-for="TotalBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepositAmount" class="control-label"></label>
                <input asp-for="DepositAmount" class="form-control" />
                <span asp-validation-for="DepositAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountContext" class="control-label"></label>
                <select asp-for="AccountContext" class="form-control" asp-items="Html.GetEnumSelectList<AccountContext>()" >
                    <option selected="selected" value="">Please select your account type</option>
                </select>
                <span asp-validation-for="AccountContext" class="text-danger"></span>
            </div>
            <div class="mx-auto mt-3">
                <div class="form-group">
                    <input type="submit" value="CreateAccount" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
